#menucontainer { 
	width:20%; 
	border: 2px solid black;
	border-style: dotted;
	float: left;
	position:  fixed;
	/*made background coral*/
	background: coral;
}


/*Marissa Montano*/


#item{ 
	margin: 5px 5px 5px 0px; 
	padding: 10px;
	border: 2px solid black;
	/*made borders rounded*/
	border-radius: 25px;
}

#infodiv { 
	float: right; 
	border: 2px solid black;
	border-style: dotted;
	width:75%;
    /*made background pink*/
	background: pink;
}

p{
	/*made font caps*/
	font-variant: small-caps;
	/*made font TNR*/
	font-family: "Times New Roman";
}

/*header on the body*/
